
@model IEnumerable<Project.Models.Transaction>

@{
    ViewBag.Title = "Purchases";
}

<h2>Purchases</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Retailer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductList.Name)
        </th>
        <th>
            CostPrice
        </th>
        <th>
            SellPrice
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
                    <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Retailer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductList.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductList.CostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) 
        </td>
    </tr>
}

</table>
<span>
   @if(ViewBag.pro != null)
   {
       <strong>Profit:</strong>
       @ViewBag.pro;
   }
    </span>

<p>
    @if ((string)TempData.Peek("role") == "admin")
    {
        @Html.ActionLink("Back to List", "Index", "ProductLists")
    }
    else
    {
        @Html.ActionLink("Back to List", "Main", "ProductLists")
    }
</p>

